<ion-content [scrollY]="false">
  <div class="homepage col-md-4 offset-md-4">
    <div class="container">
      <img class="mb-1" src="../../assets/images/neublautransparent.png" alt="">
      <p>Sleep is for the weak!</p>
      <ion-row class="align-items-start">
        <ion-col>
          <ion-button class="registration-button" expand="block" fill="solid" shape="round" routerLink="/registration">Sign up</ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="login-button" expand="block" fill="outline" shape="round" routerLink="/login">Log in</ion-button>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
