<ion-content [scrollY]="false">
  <div class="homepage col-md-4 offset-md-4">
    <div class="container">
      <img class="mb-1" src="../../assets/images/neublautransparent.png" alt="">
      <p>Sleep is for the weak!</p>
      <div class="row align-items-start">
        <div class="col">
          <ion-button color="medium" fill="outline" shape="round" routerLink="/registration">Sign up</ion-button>
        </div>
        <div class="col">
          <ion-button color="medium" fill="outline" shape="round" routerLink="/login">Log in</ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
