<ion-content>
  <div>
    <ion-list class="ion-padding-horizontal">
      <ion-list-header mode="ios">
        <ion-label>{{ 'LANGUAGE_CHANGE' | translate }}</ion-label>
      </ion-list-header>
      <ion-item-group>
        <ion-item lines="full" button="true" (click)="chooseEnglish()">
          <ion-icon src="/assets/united-kingdom.svg" slot="start"></ion-icon>
          <ion-label>{{ 'LANGUAGE_EN' | translate }}</ion-label>
        </ion-item>
        <ion-item lines="full" button="true" (click)="chooseGerman()">
          <ion-icon src="/assets/germany.svg" slot="start"></ion-icon>
          <ion-label>{{ 'LANGUAGE_DE' | translate }}</ion-label>
        </ion-item>
      </ion-item-group>
    </ion-list>
  </div>
</ion-content>
