<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Booking History</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content>
  <ion-list>
    <ion-item *ngFor="let booking of bookings">
      <ion-label>Capsule Name: {{booking.capsule.Name}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content> -->

<ion-content>
  <mat-accordion>
    <div class="expansion">
      <mat-expansion-panel  *ngFor="let booking of sortData" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
              Date: {{booking.Date | date : "dd.MM.y"}}
          </mat-panel-title>
          <mat-panel-description>
            <!-- Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Capsule Name: {{booking.capsule.Name}}</p>
        <p>PayedAmount: {{booking.PayedAmount}} €</p>
        <p>PayedDate: {{booking.PayedDate | date : "dd.MM.y"}}</p>
        <p>FirstTimeFrame: {{booking.FirstTimeFrame}}</p>
        <p>LastTimeFrame: {{booking.LastTimeFrame}}</p>
      </mat-expansion-panel>
    </div>
  </mat-accordion>
</ion-content>
