<ion-content>
  <div class="container">
    <form [formGroup]="passwordChangeForm">
        <ion-item lines="none">
            <ion-icon name="md-key" class="login-icon"></ion-icon>
          <ion-input class="login-input" type="password" formControlName="oldPassword" placeholder="{{ 'OLD_PASSWORD' | translate }}"></ion-input>
        </ion-item>

        <ion-item lines="none">
            <ion-icon name="checkmark" class="login-icon"></ion-icon>
          <ion-input class="login-input" type="password" formControlName="password" placeholder="{{ 'NEW_PASSWORD' | translate }}"></ion-input>
        </ion-item>

        <ion-item lines="none">
            <ion-icon name="done-all" class="login-icon"></ion-icon>
          <ion-input class="login-input" type="password" formControlName="repeatPassword" (keyup.enter)="onSubmit()" placeholder="{{ 'REPEAT_NEW_PASSWORD' | translate }}"></ion-input>
        </ion-item>

      <div class="container">
        <ion-button color="primary" shape="round" (click)="onSubmit()" size="default"
                    [disabled]="passwordChangeForm.invalid">
          <ion-text *ngIf="!buttonPressed">{{ 'CHANGE_PASSWORD' | translate }}</ion-text>
          <ion-spinner name="crescent" *ngIf="buttonPressed"></ion-spinner>
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>
