<ion-content>
  <div>
    <form [formGroup]="passwordChangeForm">
      <ion-list>
        <ion-item>
          <ion-label class="label" position="floating">Old Password</ion-label>
          <ion-input type="password" formControlName="oldPassword"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label class="label" position="floating">New Password</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label class="label" position="floating">Repeat New Password</ion-label>
          <ion-input type="password" formControlName="repeatPassword" (keyup.enter)="onSubmit()"></ion-input>
        </ion-item>

      </ion-list>
      <div class="container">
        <ion-button color="primary" shape="round" (click)="onSubmit()"
                    [disabled]="passwordChangeForm.invalid">
          <ion-text *ngIf="!buttonPressed">Change Password</ion-text>
          <ion-spinner name="crescent" *ngIf="buttonPressed"></ion-spinner>
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>
