<ion-tabs #ionTabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="capsules" mode="md">
      <!--<ion-ripple-effect></ion-ripple-effect>-->
      <ion-icon name="cube" size="large"></ion-icon>
      <!--<ion-label>{{ 'TAB_1' | translate }}</ion-label>-->
    </ion-tab-button>

    <ion-tab-button tab="find" mode="md">
      <ion-icon name="search" size="large"></ion-icon>
      <!--<ion-label>{{ 'TAB_2' | translate }}</ion-label>-->
    </ion-tab-button>

    <ion-tab-button tab="settings" mode="md">
      <ion-icon name="settings" size="large"></ion-icon>
      <!--<ion-label>{{ 'TAB_3' | translate }}</ion-label>-->
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
