<ion-content>
  <div>
    <ion-list>
      <ion-list-header mode="ios">
        <ion-label>Notification Preference</ion-label>
      </ion-list-header>

      <ion-item lines="none">
        <ion-range min="0" max="60" step="10" snaps="true" ticks="true" mode="ios" (ionChange)="onChange()" [(ngModel)]="sliderValue">
          <ion-icon name="timer" size="small" slot="start"></ion-icon>
          <ion-icon name="timer" slot="end"></ion-icon>
        </ion-range>
        <div class="labels">
          <span class="number">0 </span>
          <span class="number">10</span>
          <span class="number">20</span>
          <span class="number">30</span>
          <span class="number">40</span>
          <span class="number">50</span>
          <span class="number">60</span>
        </div>
      </ion-item>
      <div class="container">
        <ion-button (click)="confirm()" class="confirm-button" shape="round">
          <ion-text *ngIf="!buttonPressed">Confirm</ion-text>
          <ion-spinner name="crescent" *ngIf="buttonPressed"></ion-spinner>
        </ion-button>
      </div>
    </ion-list>
  </div>
</ion-content>
