<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Log in</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollY]="false">
  <div class="background">
    <div class="container">
      <img class="logo" src="../../../assets/images/neublautransparent.png" alt="" width="150px">
      <!--
      <ion-text color="dark">
        <h2>Log in to Snooze</h2>
      </ion-text>
      -->
      <div class="login-form">
        <form>
          <ion-list>
            <ion-item class="ion-padding-top">
              <ion-label class="label" position="floating">Username</ion-label>
              <ion-input type="text" name="email"
                         [(ngModel)]="form.username" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-label class="label" position="floating">Password</ion-label>
              <ion-input type="password" name="password"
                         [(ngModel)]="form.password" required></ion-input>
            </ion-item>

            <ion-button strong expand="block" color="primary" shape="round"
                        class="login-button ion-padding-horizontal" (click)="submit()">
              <ion-ripple-effect></ion-ripple-effect>
              <ion-text *ngIf="!loginPressed">Log in</ion-text>
              <ion-spinner name="crescent" *ngIf="loginPressed"></ion-spinner>
            </ion-button>
          </ion-list>
        </form>
      </div>
    </div>
    <div class="container">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-text color="primary" routerLink="/registration">
              Forgot password?
            </ion-text>
          </ion-col>
          .
          <ion-col>
            <ion-text color="primary" routerLink="/registration">
              Sign up for Snooze
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
