<!--
<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="button"></ion-back-button>
    </ion-buttons>
    <ion-title>Log in</ion-title>
  </ion-toolbar>
</ion-header>
-->

<ion-content>
  <div class="background">
    <div class="container">
      <div id="logo"></div>
      <!-- <img class="logo" src="../../../assets/images/all_blue_logo.png" alt="" width="300px"> -->
      <!--
      <ion-text color="dark">
        <h2>Log in to Snooze</h2>
      </ion-text>
      -->
      <div class="login-form ion-padding-top">
        <form [formGroup]="loginForm">
          <ion-list>
            <ion-item lines="none">
              <ion-icon name="contact" class="login-icon"></ion-icon>
              <ion-input class="login-input" type="text" formControlName="username"></ion-input>
            </ion-item>

            <ion-item lines="none">
              <ion-icon name="md-key" class="login-icon"></ion-icon>
              <ion-input class="login-input" type="password" clearOnEdit="false"
                         formControlName="password" (keyup.enter)="onSubmit()"></ion-input>
            </ion-item>
          </ion-list>

          <ion-button strong expand="block" color="primary" shape="round"
                      class="login-button ion-padding-horizontal" (click)="onSubmit()" [disabled]="!loginForm.valid">
            <ion-text *ngIf="!loginPressed">Log in</ion-text>
            <ion-spinner name="crescent" *ngIf="loginPressed"></ion-spinner>
          </ion-button>
        </form>

      </div>
    </div>
    <div class="container">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-text color="primary" (click)="transitionTo('/recovery')">
              Forgot password?
            </ion-text>
          </ion-col>
          .
          <ion-col>
            <ion-text color="primary" (click)="transitionTo('/registration')">
              Sign up for Snooze
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
<ion-footer translucent="true" no-border>
  <ion-toolbar>
    <span slot="primary">
          <ion-chip (click)="switchTheme()">
              <ion-icon class="theme-icon" name="sunny" color="primary" *ngIf="!darkMode"></ion-icon>
              <ion-icon class="theme-icon" name="moon" color="primary" *ngIf="darkMode"></ion-icon>
          </ion-chip>
          <ion-chip color="primary" (click)="changeLanguage()">
            <ion-icon class="theme-icon" src="/assets/germany.svg" *ngIf="language == 'de'"></ion-icon>
            <ion-icon class="theme-icon" src="/assets/united-kingdom.svg" *ngIf="language == 'en'"></ion-icon>
            <ion-label style="text-transform: uppercase;">{{language}}</ion-label>
          </ion-chip>
    </span>
  </ion-toolbar>
</ion-footer>
