<!--
<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="button"></ion-back-button>
    </ion-buttons>
    <ion-title>Log in</ion-title>
  </ion-toolbar>
</ion-header>
-->

<ion-content [scrollY]="false">
  <div class="background">
    <div class="container">
      <img class="logo" src="../../../assets/images/all_blue_logo.png" alt="" width="300px">
      <!--
      <ion-text color="dark">
        <h2>Log in to Snooze</h2>
      </ion-text>
      -->
      <div class="login-form ion-padding-top">
        <form [formGroup]="loginForm">
          <ion-list>
            <ion-item lines="none">
              <ion-icon name="contact" class="login-icon"></ion-icon>
              <ion-input class="login-input" type="text" formControlName="username"></ion-input>
            </ion-item>

            <ion-item lines="none">
              <ion-icon name="md-key" class="login-icon"></ion-icon>
              <ion-input class="login-input" type="password" formControlName="password" (keyup.enter)="onSubmit()"></ion-input>
            </ion-item>
          </ion-list>

          <ion-button strong expand="block" color="primary" shape="round"
                      class="login-button ion-padding-horizontal" (click)="onSubmit()" [disabled]="!loginForm.valid">
            <ion-text *ngIf="!loginPressed">Log in</ion-text>
            <ion-spinner name="crescent" *ngIf="loginPressed"></ion-spinner>
          </ion-button>
        </form>

      </div>
    </div>
    <div class="container">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-text color="primary" routerLink="/recovery">
              Forgot password?
            </ion-text>
          </ion-col>
          .
          <ion-col>
            <ion-text color="primary" routerLink="/registration">
              Sign up for Snooze
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
