ion-list-header {
  margin-top: 12px;
  color: var(--ion-text-color)
}
ion-content {
  --ion-background-color: var(--modal-color);
  --ion-border-color: var(--darker-color);
}

.label {
  padding-bottom: 8px;
}

.paypal-text {
  position: absolute;
  padding-left: 32px;
  padding-top: 12px;
  font-weight: bolder;
  font-size: 16px;
  color: var(--ion-inverted-color);
  z-index: 3;
}
.paypal-button {
  z-index: 1;
  --background: white;
  margin-top: 24px;
  margin-bottom: 24px;
}

.container {
  //position: absolute;
  text-align: center;
  z-index: 2;
}
.paypal-logo {
  height: 24px;
}
