<ion-content>
    <ion-list-header>
        <h5>
            BOOKING INFORMATION
        </h5>
    </ion-list-header>

    <ion-item class="payment-info" lines="full">
        <ion-label class="label" slot="start">
            {{capsule}}
            <p>{{date}}</p>
            <p>{{timeStart}} to {{timeEnd}}</p>
        </ion-label>
        <ion-label slot="end">
            {{paymentAmount}} {{currencyIcon}}
        </ion-label>
    </ion-item>

    <!--<ion-text class="paypal-text">Checkout with</ion-text>-->
    <ion-button class="paypal-button ion-padding-horizontal" expand="block" shape="round" (click)="payWithPayPal()">
        <div class="container">
            <img class="paypal-logo" src="../../../assets/images/PayPal-logo.png" alt="">
        </div>
    </ion-button>
</ion-content>