<ion-content>
    <ion-list-header>
        <h5>
            BOOKING INFORMATION
        </h5>
    </ion-list-header>

    <ion-item class="payment-info" lines="full">
        <ion-label class="label" slot="start">
            {{capsule}}
            <p>{{date}}</p>
            <p>{{timeStart}} to {{timeEnd}}</p>
        </ion-label>
        <ion-label slot="end">
            {{paymentAmount}} {{currencyIcon}}
        </ion-label>
    </ion-item>

    <!--<ion-text class="paypal-text">Checkout with</ion-text>-->
    <div class="container">
        <div id="paypal-button-container" class="paypal-button-container"></div>
    </div>

</ion-content>
