<ion-content>
    <div class="container">
        <ion-list>
            <ion-item-group>
                <ion-item-divider>
                    <ion-label>Account</ion-label>
                </ion-item-divider>
                <ion-item lines="full" button="true">
                    <ion-icon name="contact" slot="start"></ion-icon>
                    <ion-label>{{username}}</ion-label>
                </ion-item>
                <ion-item lines="full" button="true">
                    <ion-icon name="mail" slot="start"></ion-icon>
                    <ion-label>{{email}}</ion-label>
                </ion-item>
                <ion-item lines="full" button="true" (click)="changePasswordModal()">
                    <ion-icon name="key" slot="start"></ion-icon>
                    <ion-label>Change Password</ion-label>
                </ion-item>
                <ion-item lines="full" button="true" (click)="logOut()">
                    <ion-icon name="log-out" slot="start"></ion-icon>
                    <ion-label>Log out</ion-label>
                </ion-item>
            </ion-item-group>

            <ion-item-group>
                <ion-item-divider>
                    <ion-label>Powernap Information</ion-label>
                </ion-item-divider>
                <ion-item lines="full" button="true">
                    <ion-icon name="pulse" slot="start"></ion-icon>
                    <ion-label>About Powernap</ion-label>
                </ion-item>
            </ion-item-group>

            <ion-item-group>
                <ion-item-divider>
                    <ion-label>App Settings</ion-label>
                </ion-item-divider>
                <ion-item lines="full" button="true">
                    <ion-icon name="globe" slot="start"></ion-icon>
                    <ion-label>Change Language</ion-label>
                </ion-item>
            </ion-item-group>

            <ion-item-group>
                <ion-item-divider>
                    <ion-label>Capsule Settings</ion-label>
                </ion-item-divider>
                <ion-item lines="full" button="true">
                    <ion-icon name="volume-low" slot="start"></ion-icon>
                    <ion-label>Volume</ion-label>
                </ion-item>
                <ion-item lines="full" button="true">
                    <ion-icon name="sunny" slot="start"></ion-icon>
                    <ion-label>Light brightness</ion-label>
                </ion-item>
            </ion-item-group>

            <ion-item-group>
                <ion-item-divider>
                    <ion-label>About</ion-label>
                </ion-item-divider>
                <ion-item lines="full" button="true">
                    <ion-icon name="book" slot="start"></ion-icon>
                    <ion-label>Contact</ion-label>
                </ion-item>
                <ion-item lines="full" button="true">
                    <ion-icon name="paper" slot="start"></ion-icon>
                    <ion-label>Legal</ion-label>
                </ion-item>
            </ion-item-group>

        </ion-list>
    </div>
</ion-content>
