<!-- <ion-header translucent="true">
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registration</ion-title>

    <span slot="end">
      <ion-chip (click)="switchTheme()">
          <ion-icon class="theme-icon" name="sunny" color="primary" *ngIf="!darkMode"></ion-icon>
          <ion-icon class="theme-icon" name="moon" color="primary" *ngIf="darkMode"></ion-icon>
      </ion-chip>
      <ion-chip color="primary" (click)="changeLanguage()">
        <ion-icon class="theme-icon" src="/assets/germany.svg" *ngIf="language == 'de'"></ion-icon>
        <ion-icon class="theme-icon" src="/assets/united-kingdom.svg" *ngIf="language == 'en'"></ion-icon>
        <ion-label style="text-transform: uppercase;">{{language}}</ion-label>
      </ion-chip>
</span>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="container">
        <ion-text>
          <h5 class="sign-up-text">Create your account</h5>
        </ion-text>

        <form [formGroup]="registrationForm">
          <ion-list>
            <ion-item lines="none">
              <ion-icon name="contact" class="login-icon"></ion-icon>
              <ion-input class="login-input" type="text" formControlName="username" placeholder="Username"></ion-input>
            </ion-item>

            <ion-item lines="none">
              <ion-icon name="mail" class="login-icon"></ion-icon>
              <ion-input class="login-input" type="email" formControlName="email" placeholder="Email"></ion-input>
            </ion-item>

            <ion-item lines="none">
              <ion-icon name="md-key" class="login-icon"></ion-icon>
              <ion-input class="login-input" type="password" formControlName="password" placeholder="Password"></ion-input>
            </ion-item>

            <ion-item lines="none">
              <ion-icon name="repeat" class="login-icon"></ion-icon>
              <ion-input class="login-input" type="password" formControlName="repeatPassword"
                         (keyup.enter)="onSubmit()" placeholder="Repeat Password"></ion-input>
            </ion-item>

            <ion-button strong expand="block" color="primary" shape="round"
                        class="sign-up-button ion-padding-horizontal" (click)="onSubmit()"
                        [disabled]="registrationForm.invalid">
              <ion-text *ngIf="!buttonPressed">Register</ion-text>
              <ion-spinner name="crescent" *ngIf="buttonPressed"></ion-spinner>
            </ion-button>

          </ion-list>
        </form>
      </div>
      <div class="button-text">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-text color="primary" (click)="transitionTo('/recovery')">
                Forgot password?
              </ion-text>
            </ion-col>
            .
            <ion-col>
              <ion-text color="primary" (click)="transitionTo('/login')">
                Login to Snooze
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

    </div>
    <div class="col-md-4"></div>
  </div>

</ion-content>
<ion-footer translucent="true" no-border>
  <ion-toolbar>
    <span slot="primary">
          <ion-chip (click)="switchTheme()">
              <ion-icon class="theme-icon" name="sunny" color="primary" *ngIf="!darkMode"></ion-icon>
              <ion-icon class="theme-icon" name="moon" color="primary" *ngIf="darkMode"></ion-icon>
          </ion-chip>
          <ion-chip color="primary" (click)="changeLanguage()">
            <ion-icon class="theme-icon" src="/assets/germany.svg" *ngIf="language == 'de'"></ion-icon>
            <ion-icon class="theme-icon" src="/assets/united-kingdom.svg" *ngIf="language == 'en'"></ion-icon>
            <ion-label style="text-transform: uppercase;">{{language}}</ion-label>
          </ion-chip>
    </span>
  </ion-toolbar> 
</ion-footer>
