ion-header {
  background: var(--ion-item-background-color)
}

ion-footer {
  position: absolute;
}


.header-toolbar {
  --background: var(--ion-item-background-color)
}
.container {
  margin-top: 40px;
  padding: 32px 32px 0px 32px;
  text-align: center;
}

form {
  margin-top: 20px; 
}

.sign-up-text {
  font-weight: bold;
}

.sign-up-button {
  padding-top: 16px;
  height: 60px;
  text-transform: none;
}

.button-text {
  text-align: center;
}

ion-item {
  padding-bottom: 8px;
}
.login-icon {
  padding-left: 8px;
  position: absolute;
  color: var(--ion-text-color-step-400);
  z-index: 2;
}
ion-input {
  --background: var(--ion-item-background-color);
  border-radius: 25px;
  z-index: 1;
  border:1px solid var(--ion-border-color);
}

ion-toolbar {
  --background: var(--ion-background-color)
}
ion-chip {
  background: var(--darker-color);
}

.theme-icon {
  margin-left: 1px;
  margin-right: 1px;
}
ion-label {
  margin-left: 2px;
}
