<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-text>
      <h5 class="sign-up-text">Create your account</h5>
    </ion-text>

    <form [formGroup]="registrationForm">
      <ion-list>
        <ion-item lines="none">
          <ion-icon name="contact" class="login-icon"></ion-icon>
          <ion-input class="login-input" type="text" formControlName="username" placeholder="Username"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-icon name="mail" class="login-icon"></ion-icon>
          <ion-input class="login-input" type="email" formControlName="email" placeholder="Email"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-icon name="md-key" class="login-icon"></ion-icon>
          <ion-input class="login-input" type="password" formControlName="password" placeholder="Password"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-icon name="md-key" class="login-icon"></ion-icon>
          <ion-input class="login-input" type="password" formControlName="repeatPassword"
                     (keyup.enter)="onSubmit()" placeholder="Repeat Password"></ion-input>
        </ion-item>

        <ion-button strong expand="block" color="primary" shape="round"
                    class="sign-up-button ion-padding-horizontal" (click)="onSubmit()"
                    [disabled]="registrationForm.invalid">
          <ion-text *ngIf="!buttonPressed">Register</ion-text>
          <ion-spinner name="crescent" *ngIf="buttonPressed"></ion-spinner>
        </ion-button>

      </ion-list>
    </form>
  </div>
  <div class="button-text">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-text color="primary" routerLink="/recovery">
            Forgot password?
          </ion-text>
        </ion-col>
        .
        <ion-col>
          <ion-text color="primary" routerLink="/login">
            Login to Snooze
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
