<!-- <ion-header>

    <ion-toolbar>
        <ion-item lines="none">
            <ion-searchbar (ionChange)="onSearchChange($event)" class="search-bar" [(ngModel)]="searchTerm" #searchbar></ion-searchbar>
            <ion-icon class="grid" name="apps" slot="end"></ion-icon>
        </ion-item>
        <ion-segment (ionChange)="onSegmentChange($event)" #segment>
            <ion-segment-button value="0" checked #button0>
                <ion-label>Map</ion-label>
            </ion-segment-button>
            <ion-segment-button value="1" #button1>
                <ion-label>List</ion-label>
            </ion-segment-button>
            <ion-segment-button value="2" #button2>
                <ion-label>Favorites</ion-label>
            </ion-segment-button>
            <ion-segment-button value="3" #button3>
                <ion-label>By Time</ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="onFabSelect()">
            <ion-icon name="search"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-slides pager="false" (ionSlideDidChange)="onSlideDidChange($event)" #slides>
        <ion-slide class="slide">
            Map
        </ion-slide>
        <ion-slide class="slide">
            List
        </ion-slide>
        <ion-slide class="slide">
            Fav
        </ion-slide>
        <ion-slide class="slide">
            By
        </ion-slide>

    </ion-slides>
</ion-content> -->

<ion-content>
  <div>
    <agm-map
      [latitude]="latMapCenter + 0.0003"
      [longitude]="lngMapCenter"
      [zoom]="mapZoomLevel"
      [zoomControl]="false"
      [streetViewControl]="false"
      [fitBounds]="false"
      (boundsChange)="onBoundsChanged($event)"
    >
      <agm-marker
        *ngFor="let item of capsules; let i = index"
        [latitude]="item.lat"
        [longitude]="item.lng"
        [label]="item.label"
        [iconUrl]="capsuleIcon"
        (markerClick)="clickedMarker(item.label, i)"
      >
        <agm-info-window [isOpen]="item.isOpen">
          <strong id="colorWorkaround">{{ item.name }}</strong>
        </agm-info-window>
      </agm-marker>
      <agm-marker
        [latitude]="latMapCenter"
        [longitude]="lngMapCenter"
        [iconUrl]="personIcon"
      >
      </agm-marker>
    </agm-map>
  </div>

  <ion-slides
    #slider
    [options]="slidesConfig"
    (ionSlideDidChange)="onSlideChanged()"
  >
    <ion-slide *ngFor="let item of capsules; let i = index">
      <ion-card *ngIf="item"  (click)="cardClicked(i)">
        <ion-card-header>
          <ion-card-title>
            <h4>
                {{ item.name }}
            </h4>
          </ion-card-title>
          <ion-card-subtitle>{{ getDistance(latMapCenter, lngMapCenter, item.lat, item.lng) }} meters
          </ion-card-subtitle>
          <ion-card-subtitle>next slot bla
            </ion-card-subtitle>
          <ion-button shape="round">book this one</ion-button>
        </ion-card-header>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
