<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Account Recovery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h5 class="ion-padding-start">Email address for account recovery</h5>
    
    <div class="login-form ion-padding-top">
      <form [formGroup]="resetForm">
        <ion-list>
          <ion-item lines="none">
            <ion-icon name="mail" class="login-icon"></ion-icon>
            <ion-input class="login-input" type="text" formControlName="email"></ion-input>
          </ion-item>
        </ion-list>

        <ion-button strong expand="block" color="primary" shape="round" mode="ios"
                    class="login-button ion-padding-horizontal" (click)="onSubmit()" [disabled]="!resetForm.valid">
          <ion-text *ngIf="!buttonPressed">Reset password</ion-text>
          <ion-spinner name="crescent" *ngIf="buttonPressed"></ion-spinner>
        </ion-button>
      </form>
    </div>

  </div>
  <div class="login-container">
    <ion-button class="login-button" mode="ios" color="primary" shape="round"(click)="transitionTo('/login')">Go To Login</ion-button>
  </div>
</ion-content>
