<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Account Recovery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h5 class="ion-padding-start">Email address for account recovery</h5>
    <ion-item class="ion-padding-vertical">
      <ion-input type="email" placeholder="example@fra-uas.de" (keyup.enter)="onSubmit()"></ion-input>
      <ion-button strong color="primary" class="submit-button" (click)="onSubmit()">
        <ion-text *ngIf="!buttonPressed">Submit</ion-text>
        <ion-spinner name="crescent" *ngIf="buttonPressed"></ion-spinner>
      </ion-button>
    </ion-item>
    <div *ngIf="requestSuccess">
      go to your email
    </div>

  </div>
</ion-content>
