<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'ACCOUNT_RECOVERY_PAGE_HEADER' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h5 class="ion-padding-start">{{ 'ACCOUNT_RECOVERY_PAGE_TEXT' | translate }}</h5>
    
    <div class="login-form ion-padding-top">
      <form [formGroup]="resetForm">
        <ion-list>
          <ion-item lines="none">
            <ion-icon name="mail" class="login-icon"></ion-icon>
            <ion-input class="login-input" type="text" formControlName="email"placeholder="{{ 'EMAIL' | translate }}"></ion-input>
          </ion-item>
        </ion-list>

        <ion-button strong expand="block" color="primary" shape="round" mode="ios"
                    class="login-button ion-padding-horizontal" (click)="onSubmit()" [disabled]="!resetForm.valid">
          <ion-text *ngIf="!buttonPressed">{{ 'RESET_PASSWORD' | translate }}</ion-text>
          <ion-spinner name="crescent" *ngIf="buttonPressed"></ion-spinner>
        </ion-button>
      </form>
    </div>

    <div class="login-container">
      <ion-button class="login-button" mode="ios" color="primary" shape="round"(click)="transitionTo('/login')">{{ 'GO_TO_LOGIN' | translate }}</ion-button>
    </div>
  </div>
</ion-content>
