// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
$font-family-base: 'Roboto', sans-serif;


.searchbar-input {
  background: #f4f5f8 !important;
  border-radius: 12px !important;
  max-width: 400px;
  border: 1px solid transparent !important;
  box-shadow: none !important;
}

//Big phones
@media (min-height: 700px) {
  .password-changer-modal .modal-wrapper {
    min-height: 45% !important;
    top: 55% !important;
  }

  .chooser-modal .modal-wrapper {
    min-height: 25% !important;
    top: 75% !important;
  }
}

.alert-dialog {
  --background: var(--ion-background-color)
}

//Small phones
.password-changer-modal .modal-wrapper {
  min-height: 60%;
  top: 40%;
  position: absolute;
  display: block;
  border-radius: 15px 15px 0 0 ;
  overflow: auto;
}

.chooser-modal .modal-wrapper {
  min-height: 30%;
  top: 70%;
  position: absolute;
  display: block;
  border-radius: 15px 15px 0 0 ;
  overflow: auto;
}

