// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

//@import url('https://fonts.googleapis.com/css?family=Roboto');
//$font-family-base: 'Roboto', sans-serif;

.pin-panel {
  .mat-expansion-panel-body {
    padding-right: 4px;
    padding-left: 16px !important;
  }
  .small-pin .item-native {
    --padding-start: 0px !important;
    --inner-padding-start: 0px !important;
  }
}
//more indicator card
.mat-expansion-indicator::after{
  color: var(--ion-text-color) !important;
}

//Search bar
.searchbar-input {
  background: var(--darker-color) !important;
  border-radius: 12px !important;
  max-width: 400px;
  padding: 4px 0 4px 4px;
  border: 1px solid transparent !important;
  box-shadow: none !important;
}

//Toast color
.toast-container {
  --color: var(--ion-inverted-color);
  --background: var(--toast-color) !important;
}

// log in fields login.page.html
.login-input .native-input {
  margin-left: 42px;
}
// Alert dialogs color
.alert-dialog {
  color: var(--ion-text-color);
  --ion-color-step-550: var(--ion-text-color);
  --background: var(--modal-color);
  .alert-button {
    color: var(--ion-color-danger);
  }
  .secondary {
    color: var(--ion-color-primary);
  }
}

//CSS for variant of display sizes
//Huge phones
@media (min-height: 800px) {
  .password-changer-modal .modal-wrapper {
    min-height: 30% !important;
    top: 69% !important;
  }

  .chooser-modal .modal-wrapper {
    min-height: 23% !important;
    top: 77% !important;
  }
  .language-chooser-modal .modal-wrapper {
    min-height: 23% !important;
    top: 80% !important;
  }
}

//Big phones
@media (min-height: 700px) and (max-height: 799px){

  .password-changer-modal .modal-wrapper {
    min-height: 42% !important;
    top: 66% !important;
  }

  .chooser-modal .modal-wrapper {
    min-height: 25% !important;
    top: 73% !important;
  }
  .language-chooser-modal .modal-wrapper {
    min-height: 23% !important;
    top: 78% !important;
  }
}

//Small phones
.password-changer-modal .modal-wrapper {
  min-height: 40%;
  top: 55%;
  position: absolute;
  display: block;
  border-radius: 15px 15px 0 0 ;
  overflow: auto;
}

.chooser-modal .modal-wrapper {
  min-height: 30%;
  top: 70%;
  position: absolute;
  display: block;
  border-radius: 15px 15px 0 0 ;
  overflow: auto;
}
.language-chooser-modal .modal-wrapper {
  min-height: 30%;
  top: 75%;
  position: absolute;
  display: block;
  border-radius: 15px 15px 0 0 ;
  overflow: auto;
}
.extend-capsule-modal .modal-wrapper {
  min-height: 50%;
  top: 50%;
  position: absolute;
  display: block;
  border-radius: 15px 15px 0 0 ;
  overflow: auto;
}
.swiper-pagination {
  bottom: 40px !important;
}
