ion-content {
  --background: var(--darker-color);
}
ion-card {
  color: var(--ion-text-color);
  --background: var(--ion-item-background-color)
}
ion-refresher, ion-refresher-content {
  background: var(--darker-color);
}
ion-chip{
  color: var(--ion-text-color);
  --background: var(--darker-color)
}
ion-icon {
  color: var(--ion-text-color)
}
.loading-icon {
  text-align: center;
  padding-top: 20px;
}
.header {
  text-align: right;
  background: var(--ion-color-warning)
}
.close-icon {
  color: var(--toast-color);
  padding-top: 4px;
  padding-right: 2px;
}
ion-item {
  --background: var(--ion-item-background-color);
  --ion-border-color: var(--darker-color);
}
.sc-ion-card-ios-h {
  margin: 12px 12px 12px 12px;
}

.active-capsule  {
  margin-top: 24px !important;
}
.active-capsule-bar {
  background: var(--ion-color-primary)
}
.info-icon {
  padding-top: 4px;
  padding-left: 16px;
  color: white !important;
}
.active-capsule-header {
  padding-bottom: 0px;
  color: var(--ion-text-color);
}
.capsule-info-list .date {
  padding-right: 12px;
}

ion-list {
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 15px 15px 0 0 ;
}
ion-list-header {
  color: var(--ion-text-color);
  --background: var(--ion-item-background-color);
  --ion-border-color: var(--ion-item-background-color);
}

.mat-expansion-panel, .mat-expansion-panel:not(.mat-expanded):not([aria-disabled=true]) .mat-expansion-panel-header:hover{
  color: var(--ion-text-color);
  background: var(--ion-item-background-color);
  padding-bottom: 8px;
}
.mat-expansion-panel-header-title {
  color: var(--ion-text-color) !important;
}
//Tab 1 ion-item pin
.item-pin {
  padding-top: 8px;
  padding-bottom: 8px;
}
.pin {
  margin-bottom: 2px;
  padding-right: 2px;
  color: var(--ion-text-color);
}
.pin-list {
  color: var(--ion-text-color);
  margin-bottom: 8px;
  padding-right: 2px;
}
.text {
  color: var(--ion-text-color);
}
.countdown {
  float:right;
  margin-top: 1px;
  margin-right: 16px;
}

.capsule-control-card {
  border-radius: 0 !important;
  margin: 0 !important;
  width: calc(100vw);
  height: calc(100vh - 57px)
}
.capsule-control-back {
  color: var(--ion-text-color);
  float: left;
  width: 20px;
  height: 20px;
  position: absolute;
  padding-left: 8px;
  padding-top: 4px;
}
.capsule-control-main {
  background: var(--ion-background-color);
  height: calc(100vh - 114px);
}

.controller {
  --background: var(--ion-background-color);
}
ion-range {
  --knob-background: var(--ion-color-primary);
  //--knob-size: 30px;
  //--bar-height: 7px;
}
.back-icon {
  color: white;
}
