
ion-slides {
  --bullet-background: white;
  --bullet-background-active: white;
}
ion-slide {
  height: 100vh;
  flex-direction: column;
  
}

.swiper-pagination {
  position: absolute;
  bottom: 100px;
  width: 50% !important;
}

ion-button {
  position: absolute;
  --z-index: 100;
}
#btn-skip {
  bottom: 0;
  left:0;
}
#btn-tour {
  bottom: 0;
  right:0;
}

#btn-start {
  bottom: 10%;
}

img {
  position: absolute;
  top: 20%;
  width: 50%;
  max-width: 300px;
  
}
#snooze-logo {
  top: 23%;
  width: 55%;
}
h1 {
  position: absolute;
  top: 8%;
}

p {
  position: absolute;
  top: 58%;
  max-width: 300px;
  font-size: 1.3em;
  opacity: 0.75;
}

ion-content {
  --background: var(--ion-color-primary)
}
.slide-one {
  background: var(--ion-color-primary)
}

.slide-two {
  background: var(--ion-color-primary)
}

.slide-three {
  background: var(--ion-color-primary)
}




ion-chip {
  background: rgba(255, 255, 255, 0.2);
  
}
.theme-icon {
  margin-left: 1px;
  margin-right: 1px;
}
ion-label {
  margin-left: 2px;
}
ion-footer, ion-toolbar {
  position: absolute;
}
ion-toolbar {
  --background: transparent;
}

