<ion-content>
  <ion-slides #slides pager="true" [options]="slideOpts">
    <ion-slide>
      <h1>{{ 'SLIDES_WELCOME' | translate }}</h1>

      <img id="snooze-logo" src="../../../assets/images/SnoozeLogo_WB2.svg" alt="smiley_tired" />
      <p>{{ 'SLIDES_TEXT1' | translate }}</p>

      <ion-button id="btn-skip" shape="round" fill="clear" color="light" (click)="finish()">{{ 'SLIDES_SKIP' | translate }}</ion-button>
      <ion-button id="btn-tour" shape="round" fill="clear" color="light" (click)="next()">{{ 'SLIDES_LEARN' | translate }}</ion-button>


    </ion-slide>
    <ion-slide>
      <p>{{ 'SLIDES_TEXT2' | translate }}</p>
      <img src="../../../assets/images/Smiley_Tired.svg" alt="smiley_tired" />
    </ion-slide>
    <ion-slide>
      <p>{{ 'SLIDES_TEXT3' | translate }}</p>
      <img src="../../../assets/images/Smiley_Sleep.svg" alt="smiley_sleep" />
    </ion-slide>
    <ion-slide>
      <p>{{ 'SLIDES_TEXT4' | translate }}</p>
      <img src="../../../assets/images/Smiley_Happy.svg" alt="smiley_happy" />

      <ion-button id="btn-start" color="light" fill="outline" shape="round" (click)="finish()">START</ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-footer translucent="true" no-border>
    <ion-toolbar>
      <span slot="primary">
            <ion-chip (click)="switchTheme()">
                <ion-icon class="theme-icon" name="sunny"  *ngIf="!darkMode"></ion-icon>
                <ion-icon class="theme-icon" name="moon"  *ngIf="darkMode"></ion-icon>
            </ion-chip>
            <ion-chip  (click)="changeLanguage()">
              <ion-icon class="theme-icon" src="/assets/germany.svg" *ngIf="language == 'de'"></ion-icon>
              <ion-icon class="theme-icon" src="/assets/united-kingdom.svg" *ngIf="language == 'en'"></ion-icon>
              <ion-label style="text-transform: uppercase;">{{language}}</ion-label>
            </ion-chip>
      </span>
    </ion-toolbar>
  </ion-footer>